__pycache__/
*.py[cod]

Django_4_By_Example.pdf
Django_4_By_Example_old.pdf
/blog_application/.vscode
/blog_application/.env
/blog_application/my_env
/blog_application/mysite/db.sqlite3
/blog_application/mysite/mysite_data.json
/blog_application/mysite/mysite/__pycache__/
/blog_application/mysite/blog/__pycache__/


*.log
*.pot
